/2_Hangman/build/
/2_Hangman/dist/
/3_Shapes/nbproject/private/
/3_Shapes/build/
/3_Shapes/dist/
/4_GameTest/nbproject/private/
/4_GameTest/build/
/4_GameTest/dist/
/5_Expressions/nbproject/private/
/5_Expressions/build/
/5_Expressions/dist/
/6_SlidingGame/nbproject/private/
/6_SlidingGame/build/
/6_SlidingGame/dist/
/7_QuadtreesStart/nbproject/private/