/2_Hangman/build/
/2_Hangman/dist/
/3_Shapes/nbproject/private/
/3_Shapes/build/
/3_Shapes/dist/
/4_GameTest/nbproject/private/
/4_GameTest/build/
/4_GameTest/dist/
/5_Expressions/nbproject/private/
/5_Expressions/build/
/5_Expressions/dist/
/6_SlidingGame/nbproject/private/
/6_SlidingGame/build/
/6_SlidingGame/dist/
/7_QuadtreesStart/nbproject/private/
/7_QuadtreesStart/build/
/7_QuadtreesStart/dist/
/8_polynomials/nbproject/private/
/8_polynomials/build/
/8_Polynomials/nbproject/private/
/9_LogicalFormulas/nbproject/private/
/9_LogicalFormulas/build/
/10_icecream/nbproject/private/
/10_ShoppingCart/nbproject/private/
/10_icecream/build/
/11_kitchenTimer/nbproject/private/
/11_kitchenTimer/build/
/11_kitchenTimer/dist/
/10_ShoppingCart/build/
/12_StringOfBeads/nbproject/private/
/12_StringOfBeads/build/
/12_StringOfBeads/dist/
/13_FileFinder/nbproject/private/
/13_MergeSort/nbproject/private/
/13_FileFinder/build/
/13_MergeSort/build/
/13_FileFinder/dist/
/13_FileFinder2/nbproject/private/
/13_FileFinder2/build/
/14_PrimeNumberGenerator/nbproject/private/
/14_PrimeNumberGeneration_1/nbproject/private/
/14_PrimeNumberGeneration_1/build/
/14_PrimeNumberGenerator/build/
/2016_2_patterns/nbproject/private/
/2016_2_patterns/build/
/2015_1_Shape/nbproject/private/